article {
  background: white;
  margin: 100px auto;
  max-width: 800px;
  font-size: 1.6rem;
  padding: 2.5rem 5rem;
  border-radius: 1rem;
  animation: fadeIn 1s ease 0s;
}

.article-header {
  color: hsl(210, 11%, 15%);
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: -0.1rem;
}

.article-image {
  width: 100%;
}

.article-paragraph {
  font-size: 1.8rem;
  color: hsl(210, 10%, 23%);
  line-height: 1.8;
}

.article-mini-title {
  font-size: 2rem;
  color: hsl(210, 9%, 31%);
  font-weight: bold;
  line-height: 1.8;
}

li {
  font-size: 1.8rem;
  color: hsl(210, 9%, 31%);
  line-height: 1.8;
}

@media (max-width: 700px) {
  article {
    width: 90%;
    margin: 70px auto;
    padding: 1rem;
  }
}

@keyframes fadeIn {
  0.0% {
    transform: translate(0, -75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
