// code for article section in index.html

.article {
  text-align: center;
  letter-spacing: 1px;

  .article-container {
    margin: 0 auto;
    width: 96%;
  }

  .article-header {
    font-size: 30px;
    color: hsl(216, 88%, 54%);
  }

  .article-paragraph {
    line-height: 2;
    text-align: justify;
  }

  @media (max-width: 991px) {
    .article-container {
      padding: 10px;
    }

    .article-paragraph {
      font-size: 16px;
      text-align: unset;
      line-height: 1.5;
    }
  }

  .periodyzacja {
    font-size: 24px;
    text-transform: uppercase;
  }

  .keyword {
    color: #eb5a35;
  }

  .article-link {
    letter-spacing: normal;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.164);
    padding: 15px 30px;
    margin: 5px auto 0 auto;
    width: 180px;
    display: block;
    transition: 0.3s;
  }

  .article-link:hover {
    color: hsl(216, 88%, 54%);
    border: hsl(216, 88%, 54%) 1px solid;
    border-radius: 25px;
  }

  @media (max-width: 699px) {
    .article-container {
      width: 100%;
    }

    .article-header {
      font-size: 24px;
    }

    .article-link {
      padding: 10px 20px;
    }
  }
}
