.flex-container {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.flex-item {
  border-radius: 1rem;
  background-color: white;
  flex-basis: 350px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid rgba(128, 128, 128, 0.301);
}

.article-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: 0%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.article-text {
  padding: 2rem;
}

.trening-antagonistyczny {
  background-image: url(../../dist/images/artykuly/trening-antagonistyczny.webp);
}

.struktura-planu-treningowego {
  background-image: url(../../dist/images/artykuly/struktura-planu-treningowego.webp);
}

.periodyzacja {
  background-image: url(../../dist/images/artykuly/periodyzacja.webp);
}

.jak-nie-stracic-mocy {
  background-image: url(../../dist/images/artykuly/jak-nie-stracic-mocy.webp);
}

.trening-sezonowy {
  background-image: url(../../dist/images/artykuly/trening.sezonowy.webp);
}

.article-header {
  margin-top: 1rem;
  font-size: 2.6rem;
  text-align: center;
}

.article-desc {
  font-size: 1.8rem;
  line-height: 1.5;
}

.article-link:link {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid gray;
  font-size: 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transition: 0.3s;
}

.article-link:link:hover {
  opacity: 0.7;
}
