.flex-container {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.flex-item {
  border-radius: 1rem;
  background-color: white;
  flex-basis: 350px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid rgba(128, 128, 128, 0.301);
  animation: fadeIn 0.8s ease 0s;
}

.flex-item:nth-child(2) {
  animation: fadeIn 0.9s ease 0s;
}

.flex-item:nth-child(3) {
  animation: fadeIn 1s ease 0s;
}

.flex-item:nth-child(4) {
  animation: fadeIn 1.1s ease 0s;
}

.flex-item:nth-child(5) {
  animation: fadeIn 1.2s ease 0s;
}

.flex-item:nth-child(6) {
  animation: fadeIn 1.3s ease 0s;
}

.flex-item:nth-child(7) {
  animation: fadeIn 1.4s ease 0s;
}

.article-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: 0%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.article-text {
  padding: 2rem;
}

.trening-antagonistyczny {
  background-image: url(../../artykuly/trening-antagonistyczny.webp);
}

.struktura-planu-treningowego {
  background-image: url(../../artykuly/struktura-planu-treningowego.webp);
}

.trening-sezonowy {
  background-image: url(../../artykuly/trening-sezonowy.webp);
}

.progresja-budowania-sily-palcow {
  background-image: url(../../artykuly/progresja-budowania-sily-palcow.webp);
}

.periodyzacja {
  background-image: url(../../artykuly/periodyzacja.webp);
}

.jaki-chwyt-wybrac {
  background-image: url(../../artykuly/jaki-chwyt-wybrac-do-treningu.webp);
}

.budowanie-sily-ciala {
  background-image: url(../../artykuly/budowanie-sily-ciala.webp);
}

.article-header {
  margin-top: 1rem;
  font-size: 2.6rem;
  text-align: center;
}

.article-desc {
  font-size: 1.8rem;
  line-height: 1.5;
}

.article-link {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid gray;
  font-size: 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: 0.3s;
}

.article-link:hover {
  opacity: 0.7;
}

@keyframes fadeIn {
  0.0% {
    transform: translate(0, -75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
