.ebook-container {
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  max-width: 900px;
}

.wrapper {
  display: flex;
  gap: 2rem;
}

@media (max-width: 930px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}

.ebook-header {
  color: #212529;
  font-size: 5.2rem;
}

@media (max-width: 930px) {
  .ebook-header {
    font-size: 3.8rem;
  }
}

.ebook-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #343a40;
}

.ebook-img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  line-height: 2.2;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 585px) {
  li {
    font-size: 1.4rem;
    gap: 0.5rem;
  }
}

strong {
  display: flex;
  align-items: center;
  justify-content: center;
}

strong svg {
  stroke: #11136d;
  width: 24px;
  height: 24px;
}

.ebook-list-icon {
  stroke: hsl(235, 75%, 23%);
  height: 24px;
  width: 24px;
}

.mailchimp-form-container {
  margin: 0 auto;
}

// MAILCHIMP CUSTOM CSS

.mc-field-group {
  padding: 0 0 10px 0 !important;
}

#mc-embedded-subscribe-form {
  padding: 0 !important;
}

#mc-embedded-subscribe {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem !important;
  background-color: hsl(34, 98%, 48%) !important;
}

#mc-embedded-subscribe:hover {
  background-color: hsl(34, 98%, 38%) !important;
}
