footer {
  height: 25px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(200, 4%, 14%);
  color: hsl(0, 0%, 100%);

  img {
    margin: 0 3px;
  } 

  .footer-github {
    width: 14px;
    height: 14px;
  }

  a {
    text-decoration: none;
  }

  .footer-hearth {
    width: 14px;
    height: 14px;
    margin: 0 6px;
  }
}
