footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(200, 4%, 14%);

  p {
    font-size: 10px;
    color: hsl(0, 0%, 100%);
  }

  .footer-icon {
    width: 14px;
    height: 14px;
    display: block;
    margin-left: 5px;
    margin-bottom: 2px;
  }

  a {
    text-decoration: none;
  }
}
