html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: hsl(200, 6%, 10%);
  background-image: url("/dist/images/index-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
