.sklep__container {
  padding: 8rem;
}

.section-header {
  font-size: 5rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1450px;
  margin: 0 auto;
  gap: 5rem;
}

.flex__container--item {
  flex-basis: 250px;
  text-align: center;
  position: relative;
}

.flex__container--item:nth-child(1):before {
  content: "NEW";
  position: absolute;
  display: inline-block;
  padding: 5px 10px;
  background-color: red;
  color: white;
  top: -10px;
  left: -35px;
  letter-spacing: 2px;
}

/////////////
// PRZEDMIOTY
/////////////

.item--name {
  color: hsl(180, 0%, 44%);
  font-size: 1.75rem;
  margin: 0;
  margin-top: 2rem;
}

.item--price {
  font-size: 1.5rem;
  font-weight: bold;
}

.item--link {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid hsl(36, 86%, 46%);
  background-color: hsl(36, 86%, 56%);
  transition: 0.3s;
}

.item--link:hover {
  opacity: 0.7;
}

.item--buy {
  margin-right: 3rem;
}

.item--show {
  background-color: white;
  color: hsl(36, 86%, 56%);
  border: 1px solid hsl(36, 86%, 56%);
}

///////////////////
// PLANY TRENINGOWE
///////////////////

.plany-treningowe {
  padding: 1rem 0;
  background: hsla(36, 86%, 56%, 0.1);
  padding: 5rem 0;
  border-radius: 3rem;
}

.plan--image {
  width: 300px;
  border-radius: 1rem;
}

@media (max-width: 865px) {
  .sklep__container {
    padding: 3rem;
  }

  .section-header {
    font-size: 3rem;
  }
}

/////////////////////
// TESTY WSPINACZKOWE
/////////////////////
