.sklep__container {
  padding: 8rem;
}

.section-header {
  font-size: 5.2rem;
  letter-spacing: -0.2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  color: hsl(210, 11%, 15%);
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1450px;
  margin: 0 auto;
  gap: 5rem;
}

.flex__container--item {
  flex-basis: 250px;
  text-align: center;
  position: relative;
}

.new:before {
  content: "NEW";
  position: absolute;
  display: inline-block;
  padding: 5px 10px;
  background-color: red;
  color: white;
  top: -10px;
  left: -35px;
  letter-spacing: 2px;
}

/////////////
// PRZEDMIOTY
/////////////

.item--image {
  height: 250px;
}

.item--name {
  color: hsl(210, 10%, 23%);
  font-size: 2rem;
  margin: 0;
  margin-top: 2rem;
}

.item--price {
  color: hsl(210, 11%, 15%);
  font-size: 1.6rem;
  font-weight: bold;
}

.item--link {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: hsl(34, 98%, 48%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
}

.item--link:hover {
  opacity: 0.7;
}

.item--buy {
  margin-right: 3rem;
}

.item--show {
  background-color: white;
  color: hsl(34, 98%, 48%);
  border: 1px solid hsl(34, 98%, 48%);
}

///////////////////
// PLANY TRENINGOWE
///////////////////

.plany-treningowe {
  border-radius: 1rem;
}

.plan--image {
  width: 300px;
  height: 450px;
  border-radius: 1rem;
}

@media (max-width: 865px) {
  .sklep__container {
    padding: 3rem;
  }

  .section-header {
    font-size: 3rem;
  }
}

/////////////////////
// TESTY WSPINACZKOWE
/////////////////////
