main {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url(../../dist/images/index-background.webp);
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__container {
  margin-right: 10rem;
  max-width: 700px;
}

.main__container-header {
  font-size: 8rem;
  color: hsl(0, 0%, 100%);
  animation: textFadeIn 1s ease 0s;
}

.main__container-paragraph {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  animation: textFadeIn 1.25s ease 0s;
}

.main__container-link {
  display: inline-block;
  background-color: hsl(36, 86%, 56%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
  animation: textFadeIn 1.5s ease 0s;
  transition: 0.2s;
}

.main__container-link:hover {
  background-color: hsl(36, 86%, 66%);
}

@media (max-width: 1455px) {
  .main__container {
    margin-right: 2rem;
    max-width: 500px;
  }

  .main__container-header {
    font-size: 6rem;
  }

  .main__container-paragraph {
    font-size: 2rem;
  }

  .main__container-link {
    padding: 0.8rem 1.5rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 835px) {
  main {
    justify-content: start;
  }

  .main__container {
    margin-left: 3rem;
    max-width: 400px;
  }

  .main__container-header {
    font-size: 4rem;
  }

  .main__container-paragraph {
    font-size: 1.8rem;
  }

  .main__container-link {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
  }
}

// BOX WITH TEXT && MENU ANIMATION

@keyframes textFadeIn {
  0.0% {
    transform: translate(0, -75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
