.blog__container {
  padding: 8rem;
  background-image: url(../../dist/images/blog-wave.svg);
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-position-y: -310px;
}

.blog__container-header {
  text-align: center;
  font-size: 5.2rem;
  letter-spacing: -0.1rem;
  margin: 0 0 5rem 0;
  color: hsl(210, 11%, 15%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__article-box {
  display: flex;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.article__box-image {
  width: 450px;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.trening-antagonistyczny {
  background-image: url(../../artykuly/trening-antagonistyczny.webp);
}

.article__box-text {
  width: 450px;
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #f1f3f5;

  h2 {
    color: hsl(210, 11%, 15%);
    font-size: 3rem;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }

  p {
    color: hsl(210, 10%, 23%);
    font-size: 1.8rem;
    line-height: 1.6;
  }

  a {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: inline-block;
    padding: 1.25rem 2.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: hsl(35, 100%, 47%);
    transition: 0.3s;
  }

  a:hover {
    opacity: 0.8;
  }
}

@media (max-width: 900px) {
  .blog__container {
    padding: 2rem;
  }

  .blog__container-header {
    font-size: 3rem;
  }

  .blog__article-box {
    flex-direction: column;
  }

  .article__box-image {
    width: 300px;
    height: 250px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    box-shadow: 0 0;
  }

  .article__box-text {
    width: 300px;
    border-top-right-radius: 0;

    h2 {
      margin-top: 0;
    }
  }
}
