main {
	min-height: 90vh;
	display: flex;
	align-items: center;
	background-image: url(/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main__container {
	margin: 0 20rem 0 32rem;
	max-width: 700px;
	color: white;
}

.main__container-header {
	font-size: 8rem;
	animation: textFadeIn 1s ease 0s;
}

.main__container-paragraph {
	font-size: 3rem;
	color: white;
	animation: textFadeIn 1.25s ease 0s;
}

.main__container-link {
	font-size: 2rem;
	display: inline-block;
	padding: 1rem 2rem;
	background-color: black;
	text-decoration: none;
	border-radius: 1rem;
	color: white;
	animation: textFadeIn 1.5s ease 0s;
}

@media (max-width: 1100px) {
	main {
		min-height: 75vh;
	}

	.main__container {
		margin: 0 auto;
	}

	.main__container-header {
		font-size: 4rem;
	}

	.main__container-paragraph {
		font-size: 2rem;
	}

	.main__container-link {
		font-size: 1.5rem;
		padding: 1rem 1.5rem;
	}
}

@media (max-width: 1100px) {
	.main__container {
		padding: 1rem;
		text-align: left;
	}
}

@keyframes textFadeIn {
	0.0% {
		transform: translate(0, -75px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
