body {
  font-size: 1.8rem;
}

.flex-container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
}

.flex-item img {
  display: block;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: fadeIn 0.9s ease 0s;
}

h1 {
  color: hsl(210, 11%, 15%);
  animation: fadeIn 1s ease 0s;
}

p {
  color: hsl(210, 10%, 23%);
  line-height: 1.7;
  max-width: 500px;
  text-align: justify;
  margin-bottom: 10rem;
  animation: fadeIn 1.1s ease 0s;
}

@keyframes fadeIn {
  0.0% {
    transform: translate(0, -75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
