section {
  margin-top: 10rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  flex-basis: 500px;
}

.item-text {
  padding: 5rem;
}

.product-image {
  width: 100%;
  animation: fadeIn 0.9s ease 0s;
}

.product-header {
  color: hsl(210, 11%, 15%);
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  animation: fadeIn 1s ease 0s;
}

.product-price {
  color: hsl(210, 10%, 23%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-bottom: 3rem;
  animation: fadeIn 1.1s ease 0s;
}

.product-description {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.7;
  animation: fadeIn 1.2s ease 0s;
}

.flex-item ul {
  margin-bottom: 3rem;
  animation: fadeIn 1.3s ease 0s;
}

li {
  font-size: 1.8rem;
  line-height: 1.7;
  color: hsl(210, 10%, 23%);
}

td {
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid black;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

.rozmiary {
  text-align: center;
  animation: fadeIn 1.4s ease 0s;
}

.buy-link {
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: white;
  transition: 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// LINKI DO PLANÓW
.one-month {
  margin-right: 1rem;
  background-color: hsl(162, 73%, 46%);
  animation: fadeIn 1.4s ease 0s;
}

.one-month:hover {
  background-color: hsl(162, 73%, 36%);
}

.three-months {
  margin-left: 1rem;
  background-color: hsl(208, 80%, 52%);
  animation: fadeIn 1.5s ease 0s;
}

.three-months:hover {
  background-color: hsl(208, 80%, 42%);
}

.btn-container {
  text-align: center;
}

// LINKI DO KOSZULEK // WSZYSTKO DO KOSZULEK
.koszulka-strona {
  color: hsl(210, 10%, 23%);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  animation: fadeIn 1s ease 0s;
}

.rozmiary h2 {
  font-size: 2rem;
  color: #343a40;
}

.order {
  font-size: 2rem;
  color: hsl(210, 11%, 15%);
  text-align: center;
  margin-top: 3rem;
  animation: fadeIn 1.6s ease 0s;
}

table,
td {
  border: 1px solid hsl(210, 9%, 31%);
  color: hsl(210, 9%, 31%);
}

.rozmiary-container {
  color: hsl(210, 10%, 23%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
  animation: fadeIn 1.6s ease 0s;
}

.koszulka-kup {
  font-size: 1.6rem;
  text-decoration: none;
  border: 1px solid hsl(210, 10%, 23%);
  padding: 0.85rem 1rem;
  color: hsl(210, 10%, 23%);
  transition: 0.3s;
}

.koszulka-kup:hover {
  border: 1px solid hsl(21, 90%, 48%);
  color: hsl(21, 90%, 48%);
}

/////// ebook //////

.ebook-list-icon {
  width: 24px;
}

.ebook-img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// MAILCHIMP CUSTOM CSS

.mailchimp-container {
  margin: 0 auto;
  animation: fadeIn 1.6s ease 0s;
}

.mc-field-group {
  padding: 0 0 10px 0 !important;
}

#mc-embedded-subscribe-form {
  padding: 0 !important;
}

#mc-embedded-subscribe {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem !important;
  background-color: hsl(34, 98%, 48%) !important;
}

#mc-embedded-subscribe:hover {
  background-color: hsl(34, 98%, 38%) !important;
}

////////////////////////

.poczatkujacy {
  width: 100%;
  background-color: black;
  animation: fadeIn 1.4s ease 0s;
}

.sredni {
  width: 100%;
  background-color: black;
  animation: fadeIn 1.4s ease 0s;
}

.zaawansowany {
  width: 100%;
  background-color: black;
  animation: fadeIn 1.4s ease 0s;
}

///////////////////////

@keyframes fadeIn {
  0.0% {
    transform: translate(0, -75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  section {
    padding: 1rem;
  }

  .flex-item {
    text-align: center;
  }

  ul {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .product-image {
    animation: fadeIn 0.9s ease 0s;
  }
}

@media (max-width: 481px) {
  .buy-link {
    display: block;
  }

  .one-month {
    margin: 2rem auto 0 auto;
  }

  .three-months {
    margin: 1rem auto 4rem auto;
  }
}

@media (max-width: 425px) {
  .product-header {
    font-size: 3rem;
  }

  .item-text {
    padding: 0.5rem;
  }
}
