section {
  padding: 10rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  width: 500px;
  height: 500px;
}

.item-text {
  padding: 50px;
}

.product-image {
  height: 500px;
  border-radius: 1rem;
}

.product-header {
  font-size: 2.5rem;
}

.product-price {
  font-size: 1.6rem;
  font-weight: bold;
}

.product-description {
  font-size: 1.6rem;
  color: gray;
}
