.services-container {
  text-align: center;
  padding: 100px;
  background-image: url("/dist/images/services.webp");
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .services-container {
    padding: 75px;
  }
}

@media (max-width: 767px) {
  .services-container {
    padding: 40px;
  }
}

.services-header {
  font-size: 58px;
  padding: 10px 0;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
  .services-header {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .services-header {
    font-size: 32px;
  }
}

.services-link {
  display: inline-block;
  text-decoration: none;
  font-size: 26px;
  color: white;
  background-color: hsla(216, 89%, 24%, 0.5);
  border: 1px solid hsl(216, 88%, 54%);
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .services-link {
    font-size: 19px;
    padding: 10px 15px;
  }
}

.services-link:hover {
  background-color: hsla(216, 89%, 44%, 0.5);
  cursor: pointer;
}
