section {
  margin: 100px 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  animation: fadeIn 1s ease 0s;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 175px;
  padding: 10rem;
}

@media (max-width: 550px) {
  .flex-container {
    padding: 1rem;
  }
}

.flex-item {
  height: 300px;
  width: 300px;
}

.item-image {
  height: 300px;
  background-size: cover;
  border-radius: 1rem;
}

.item-title {
  font-size: 1.8rem;
  color: gray;
}

.item-price {
  font-size: 1.5rem;
}

.item-link {
  display: inline-block;
  margin: 0 3px;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid hsl(36, 86%, 46%);
  border-radius: 1rem;
  transition: 0.3s;
}

.item-link:hover {
  opacity: 0.8;
}

.item-buy {
  color: white;
  background-color: hsl(36, 86%, 56%);
}

.item-show {
  color: hsl(36, 86%, 56%);
}

////////////////////////////
// ZESTAWY

.zestawy-main-header {
  font-size: 4rem;
  margin-top: 15rem;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  border-radius: 1rem;
}

@media (max-width: 1110px) {
  fieldset {
    flex-direction: column;
    gap: 30px;
  }

  fieldset img {
    margin-top: 30px;
  }
}

legend {
  font-size: 2rem;
}

///////////////////////////////
// ZDJĘCIA ITEMKÓW

.koszulka {
  background-image: url(../../dist/images/sklep/koszulka-przod.png);
}

.plan-standard {
  background-image: url(../../dist/images/sklep/plan-standard.webp);
  background-position: 0%;
}

.plan-pro {
  background-image: url(../../dist/images/sklep/plan-pro.webp);
  background-position: 0%;
}

.plan-chwytotablica {
  background-image: url(../../dist/images/sklep/plan-chwytotablica.webp);
  background-position: 0%;
}

.testy-podstawowe {
  background-image: url(../../dist/images/sklep/testy-podstawowe.webp);
  background-position: 0%;
}

.testy-pelne {
  background-image: url(../../dist/images/sklep/testy-pelne.webp);
  background-position: 0%;
}

.testy-cyfrowe {
  background-image: url(../../dist/images/sklep/testy-cyfrowe.webp);
  background-position: 0%;
}

////////////
// ANIMATION

@keyframes fadeIn {
  0.0% {
    transform: translate(0, -75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex-item:nth-child(1) {
  animation: fadeIn 0.9s ease 0s;
}

.flex-item:nth-child(2) {
  animation: fadeIn 1s ease 0s;
}
.flex-item:nth-child(3) {
  animation: fadeIn 1.1s ease 0s;
}

.flex-item:nth-child(4) {
  animation: fadeIn 1.2s ease 0s;
}

.flex-item:nth-child(5) {
  animation: fadeIn 1.3s ease 0s;
}

.flex-item:nth-child(6) {
  animation: fadeIn 1.4s ease 0s;
}

.flex-item:nth-child(7) {
  animation: fadeIn 1.5s ease 0s;
}
