.services-container {
  padding: 220px 100px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("/dist/images/services.webp");
  background-size: cover;
  justify-content: center;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
}

@media (max-width: 991px) {
  .services-container {
    padding: 5px;
  }
}

.services-offerbox {
  width: 333px;
  padding: 20px;
  background: hsl(0, 0%, 0%);
  margin: 15px 30px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(
    45deg,
    hsla(44, 86%, 53%, 0.847),
    hsla(34, 88%, 50%, 0.847)
  );
  box-shadow: 0 5px 10px hsla(44, 86%, 53%, 0.91);
}

.services-offerbox:nth-child(2) {
  background: linear-gradient(
    45deg,
    hsla(34, 88%, 50%, 0.855),
    hsla(335, 100%, 67%, 0.855)
  );
  box-shadow: 0 5px 10px hsla(34, 88%, 50%, 0.863);
}

.services-offerbox:nth-child(3) {
  background: linear-gradient(
    45deg,
    hsla(335, 100%, 50%, 0.8),
    hsla(335, 100%, 67%, 0.843)
  );
  box-shadow: 0 5px 10px hsla(335, 100%, 50%, 0.835);
}

.services-offerbox-header {
  font-size: 30px;
  font-weight: bold;
}

.services-offerbox-price {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 767px) {
  .services-offerbox-price {
    padding-top: 0 !important;
  }
}
